body {
  background: #fff;
  font-family: 'Open Sans', 'Concert One', Helvetica, sans-serif;
  font-size: 16px;
  min-width: 270px;
  min-height: 600px;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  padding: 2em 0;
  text-align: center;
}

a:hover {
  color: #5170a0;
}


.landing-background {
  background: #d6e4f9;
}

.off-white-background {
  background: #eee;
}

.main-text-color {
  color: #153972;
}

.accent-color {
  color: #5170a0;
}

.contain-90 {
  width: 90%;
  height: 100%;
  margin: auto;
}

.sec {
  text-align: center;
  padding-top: 4em;
}

.section-heading {
  font-size: 2.5em;
}

.sub-heading {
  font-size: 2em;
}

.small-break {
  display: block;
  height: 3px;
  max-width: 175px;
  margin: 5px auto;
}

.text {
  font-size: 1em;
  font-weight: 200;
}

.concert-one {
    font-family: 'Concert One', Helvetica;
}

.bordered-background {
  background: rgba(255, 255, 255, .75);
}

.landing {
  position: relative;
  min-height: 20em;
}

.greeting {
  position: absolute;
  min-width: 5em;
  margin: auto;
  top: 25%;
  left: 0;
  right: 0;
  text-align: center;
}

.greeting h1 {
  padding: .5em 0;
  font-size: 3.5em;
  font-weight: 500;
}

/*MEDIA QUERIES*/

@media screen and (min-width: 549px) {
  .greeting h1 {
    font-size: 4.5em;
  }
}

@media screen and (min-width: 799px) {
  .greeting h1 {
    font-size: 5.5em;
  }

  .contain-90 {
    width: 80%;
  }
}

@media screen and (min-width: 999px) {
  .greeting h1 {
    font-size: 6.5em;
  }

  .contain-90 {
    width: 65%;
  }
}
